/* CSS Styling */

body {
    background-image: url(lodyas.png);
    background-repeat: repeat;
    font-family: Ubuntu, sans-serif;
    font-size: 1em;
    line-height: 1.2;
}

header {
    padding-left: 0.6em;
    background-color: #212121;
    /*align-items: center;  */
    display: flex;
    position: relative;
    color: white;
}

header::after {
    border-bottom: 3px solid rgba(255, 142, 0, 1.00);
    content: "";
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

#header_logo {
    line-height: 0em;
    padding: 1em;
    float: left;
}

h1 {
    display: inline-block;
    font-size: 3em;
    padding: 0em;
    padding-left: 0.4em;
    color: white;
}

.h1o {
    display: inline-block;
    font-weight: 700;
    color: rgba(255, 142, 0, 1.00);
}

nav {
    width: auto;
    height: auto;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2em;
    /*background-color: grey;*/
}

.fa-3x {
    color: white;
}

i {
    color: black;
    /* ??? */
}

nav:i {
    /*font-size: 5em;*/
    color: black;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

li {
    min-width: 6em;
    margin-top: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 1em;
    align-items: center;
    vertical-align: center;
    background-color: white;
}

.moveOut {
    border-right: 5px rgba(255, 142, 0, 1.00) solid;
}

.ffa {
    color: #CD0205;
}

article {
    margin: 0 auto;
    padding: 2em;
    width: 60em;
    height: 70em;
    background-color: white;
}